on:
  issue_comment:
    types: [created, edited]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  job01:
    if: "contains(github.event.comment.html_url, '/pull/') && (contains(github.event.comment.body, 'commenttest') || contains(github.event.comment.body, 'netlify'))"
    runs-on: ubuntu-latest
    steps:
      - env:
          GITHUB_CONTEXT: "${{ toJson(github) }}"
          EVENTS: "${{ toJson(github.event) }}"
        name: "Dump GitHub context"
        run: 'echo "$GITHUB_CONTEXT"'
      - name: git hub events
        run: echo "$EVENTS"
      - name: "get pullrequest url"
        run: echo ${{ toJson(github).event.number }}
      - name: "get pullrequest"
        run: echo "${{ github.event.pull_request }}"
      - name: "echo upstream branch"
        run: "echo ${{ steps.upstreambranch.outputs.branchname }}\n"
      - name: Checkout Pull Request
        run: echo "${{github.event.number}}"
      - name: "echo Comment"
        run: echo "${{ github.event.comment.body }}\n"
      - name: html_url
        run: 'echo "$GITHUB_CONTEXT.event"'
      - name: PR Comment
        uses: actions/github-script@v2
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            github.issues.createComment({
            owner: context.repo.owner,
            repo: context.repo.repo,
            body: 'Hello World',
            url: GITHUB_CONTEXT.event.issue.pull_request.html_url
            })
